header {
    background-color: rgb(95, 95, 95);
    text-align: center;
    color: whitesmoke;
}

#title {
    font-size: 60px;
}

.container {
    border-radius: 5px;
    padding: 10px;
}

.col-4 {
    background-color: rgb(213, 249, 250);
    margin-right: 60px;
}

.col-7 {
    background-color: rgb(213, 249, 250);
}

.cityButton {
    background-color: rgb(99, 193, 255);
    color: white;
    border-radius: 5px;
    width: 100%;
    font-size: 26px;
}

#submitCity {
    background-color: rgb(99, 193, 255);
    color: white;
}

body {
    background-color: rgb(230, 230, 230);
}